{% extends 'base.html' %}

{% block head %}
{{ super() }}
  <style type="text/css">
    main { 
        display: flex;
    }
  </style>
{% endblock %}

{% block content %}
<main>
  <form class="filtro" method="get" action="/obter-dados">
    <h1>Filtro</h1>
    <div class="inputItem">
      <label for="DataInicio">Data de Início:</label>
      <input type="date" name="DataInicio" id="DataInicio" readonly />
    </div>
    <div class="inputItem">
      <label for="DataTermino">Data de Término:</label>
      <input type="date" name="DataTermino" id="DataTermino" readonly />
    </div>
    <input type="submit" value="Obter Dados" class="botao" id="btn_obter" />
  </form>

  <div class="content">
    <div class="cardgrid">
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
      <div class="card">
        <p>a</p>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
