{% extends 'base.html' %}

{% block content %}
<nav>
    <h1>Logo</h1>
    <form class="filtro" method="get" action="/obter-dados">
        <h1>Filtro</h1>
        <div class="inputItem">
            <label for="DataInicio">Data de início:</label>
            <input type="date" name="DataInicio" id="DataInicio" readonly>
        </div>
        <div class="inputItem">
            <label for="DataTermino">Data de Término:</label>
            <input type="date" name="DataTermino" id="DataTermino" readonly>
        </div>
        <div class="checkboxGrupo">
            <div class="checkboxItem">
                <label for="Temperatura">Temperatura(°C)</label>
                <input type="checkbox" name="Temperatura" id="Temperatura" value="Temperatura">
            </div>
            <div class="checkboxItem">
                <label for="UmidadeSolo">Umidade do Solo</label>
                <input type="checkbox" name="UmidadeSolo" id="UmidadeSolo" value="UmidadeSolo">
            </div>
            <div class="checkboxItem">
                <label for="UmidadeAmbiente">Umidade do Ambiente</label>
                <input type="checkbox" name="UmidadeAmbiente" id="UmidadeAmbiente" value="UmidadeAmbiente">
            </div>
            <div class="checkboxItem">
                <label for="Volume">Volume(ml)</label>
                <input type="checkbox" name="value" id="Volume" value="Volume">
            </div>
        </div>
        <input type="submit" value="Obter Dados" class="botao" id="btn_obter">
        <form action="post" action="/action" class="btn_importar" enctype="multipart/form-data">
            <input type="file" name="arquivo_csv" id="arquivo_csv" accept=".csv">
            <input type="submit" value="Importar" class="botao" id="btn_importar">
        </form>
    </form>
</nav>
{% endblock content %}