{% extends 'base.html' %} {% block head %} {{ super() }}
<style type="text/css">
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2rem 3rem;
  }

  #link-Grafico {
    color: white !important;
    border-bottom: 2px solid #ffffff !important;
    padding-bottom: 1px !important;
  }

  @media (max-width: 991px) {
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.2rem 1rem;
    }
    #link-Grafico {
      color: #71A334 !important;
      border-bottom: 2px solid #71A334 !important;
    }
  }


</style>
{% endblock %} {% block content %}
<main>
  <form class="filtro" method="GET" action="/Graficos">
    <h1>Filtro</h1>
    <div class="forms">
        <div class="inputItem">
            <label for="DataInicio">Data de início:</label>
            <input type="date" name="DataInicio" id="DataInicio" required/>
        </div>
        <div class="inputItem">
            <label for="DataTermino">Data de término:</label>
            <input type="date" name="DataTermino" id="DataTermino" required/>
        </div>
        <button type="reset" class="btn" id="Limpar">
          <img id="IconExclude" src="/static/img/ExcludeIcon.svg" alt="" />
          <span>Limpar</span>
        </button>
        <div class="botoesFiltro">
            <a onclick="setDownloadHref()" class="btn btn-light" style="text-decoration: none; display: flex; align-items: center;">
                <img src="/static/img/baixar.svg" alt="Baixar" style="width: 1.3rem; margin-right: 5px;">
                Baixar
            </a>
            <button type="submit" class="btn btn-light">
                <img src="/static/img/filtro.svg" alt="Filtrar" style="width: 1.3rem; margin-right: 5px;">
                <span>Filtrar</span>
            </button>
        </div>
    </div>
  </form>

  <div class="cardgrid">
    <div class="card">{{ plotly_div|safe }}</div>
    <div class="card">{{ plotly_div1|safe }}</div>
    <div class="card">{{ plotly_div2|safe }}</div>
    <div class="card">{{ plotly_div3|safe }}</div>
  </div>
</main>

<script>
  function ajustarDataTermino() {
    var inputTermino = document.getElementById('DataTermino');
    var dataTermino = new Date(inputTermino.value);
    dataTermino.setDate(dataTermino.getDate() + 1); // Adiciona um dia
    inputTermino.value = dataTermino.toISOString().split('T')[0]; // Atualiza o valor do input
  }

  function setDownloadHref() {
      var inicio = document.getElementById('DataInicio').value;
      var termino = document.getElementById('DataTermino').value;
      if (!inicio || !termino){
        alert("Selecione data de início e término.")
        return
      }
      var downloadLink = document.querySelector('.botoesFiltro a');
      downloadLink.href = `/Baixar?DataInicio=${inicio}&DataTermino=${termino}`;
  }
</script>
{% endblock content %}